/* General styles for the body */
body {
    background-image: url('GalaxyPurple.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
}

/* Style for the navigation bar */
.navbar a:hover {
    background-color: #555;
    /* Change background color on hover */
    color: purple; /* Change text color to purple on hover */
}

/* Styles for superstar section */
.superstar {
    text-align: center;
    margin-bottom: 20px;
}

/* Styles for the image box */
.image-box {
    background-color: black;
    display: flex;
    width: 490px;
    height: 490px;
    text-align: center;
    position: relative;
    overflow: hidden;
}

/* Styles for superstar images */
.image-box img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: 0 auto;
}

/* Styles for superstar names */
.superstar h2 {
    color: white;
    text-shadow: 1px 1px 2px #000;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 10px; /* Adjusted from bottom to top */
    left: 10px;
    z-index: 1;
}

.superstar p {
    color: white;
    text-shadow: 1px 1px 2px #000;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 10px;
    right: 10px;
    z-index: 1;
}


/* Styles for the logo */
.logo {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-image: url('Logo.png');
    background-size: cover;
    margin-right: 10px;
}

/* Gradient styles for Raw Superstars */
.section-raw {
    background: linear-gradient(to right, #ff0000, #ffffff);
    color: white;
}

/* Gradient styles for Smackdown Superstars */
.section-smackdown {
    background: linear-gradient(to right, #0000ff, #ffffff);
    color: white;
}

/* Gold color for Current UPWE Champions */
.section-champions {
    color: gold;
}


/* Styles for the Instagram handle box */
.instagram-handle-box {
    background-color: rgba(255, 255, 255, 0.8); /* Background color with some transparency */
    padding: 5px;
    position: absolute;
    top: 10px; /* Adjust as needed */
    right: 10px; /* Adjust as needed */
    border-radius: 5px;
    z-index: 1; /* Ensure the box is above the image */
}

.instagram-handle-box a {
    text-decoration: none; /* Remove underlines from the link */
    color: #000; /* Adjust the text color */
    font-weight: bold; /* Make the text bold */
}

.instagram-handle-box p {
    margin: 0;
    color: #000; /* Adjust the text color */
    font-size: 12px; /* Adjust the font size as needed */
}
